<div class="row">
    <div class="col-md friday">
        <div class="row  violet">
            <div class="col-3">
                <img class="values" src="{{courses.image}}" alt="">
            </div>
            <div class="col-md-9">
                <h5>{{courses.name}}</h5>
            </div>
        </div>
        <img src="public/images/Star.png" alt="">
        <p>{{courses.decsription}}</p>
    </div>
</div>